<!DOCTYPE html>
<html>
    <head>
        <title>Data Panel</title>
        <script src="/static/js/serverDate.js"></script>
        <script src="/static/js/config.js"></script>
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="shortcut icon" href="/favicon.ico">
        <meta charset="UTF-8">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="header">
            <a class="logo">NEOSMAP Web Interface</a>
            <div class="header-right">
                <a class="active">Data Panel</a>
                <a href="/info">Info</a>
            </div>
        </div>
        <noscript>
            <style type="text/css">
                .main-container {display:none;}
            </style>
            <div class="no-js-container">
                <p>
                    You don't have javascript enabled.  Please enable javascript and reload the page.
                </p>
            </div>
        </noscript>
        <div class="main-container" style="align-items: stretch;">
            <div id="side-menu" class="side-menu">
                <h3 class="nav-title">
                    Navigation
                </h3>
                <button class="tablinks"  onclick="window.location.href='/data';">Data</button>
                <button class="tablinks active">Configuration</button>
                <h3 class="side-title">
                    Clock [UTC]
                </h3>
                <p id="clock"></p>
            </div>
            <div class="container-row" style="margin: 20px; align-items: stretch;">
                <div class="container-col" style="align-items: stretch; align-self: stretch; flex-grow: 1;">
                    <div id="configuration" class="tabcontent container-col">
                        <div class="container-row" style="margin: 10px 20px 10px 20px; flex-grow: 1; align-content: stretch; border-bottom: 2px whitesmoke solid;">
                            <div class="container-col" style="align-self: flex-start;">
                                <p class="title-header">
                                    Configuration
                                </p>
                            </div>
                        </div>
                        <div class="config-box container-col">
                            <form method="POST" action="/data/config">
                                <div class="container-col">
                                    {{ form.csrf_token }}
                                    <div class="input-section container-col">
                                        {{ form.latitude.label(class_="config-label", style_="padding-bottom: 5px;") }}
                                        {{ form.latitude(class_="config-input", value_=conf.observatory_latitude) }}
                                    </div>
                                    <div class="input-section container-col">
                                        {{ form.longitude.label(class_="config-label", style_="padding-bottom: 5px;") }}
                                        {{ form.longitude(class_="config-input", value_=conf.observatory_longitude) }}
                                    </div>
                                    <div class="input-section container-col">
                                        {{ form.min_altitude.label(class_="config-label", style_="padding-bottom: 5px;") }}
                                        {{ form.min_altitude(class_="config-input", value_=conf.minimum_altitude) }}
                                    </div>
                                    <div class="input-section container-col">
                                        {{ form.ts_primary_mirror_diameter.label(class_="config-label", style_="padding-bottom: 5px;") }}
                                        {{ form.ts_primary_mirror_diameter(class_="config-input", value_=conf.primary_mirror_diameter) }}
                                    </div>
                                    <div class="input-section container-col">
                                        {{ form.ts_focal_ratio.label(class_="config-label", style_="padding-bottom: 5px;") }}
                                        {{ form.ts_focal_ratio(class_="config-input", value_=conf.focal_ratio) }}
                                    </div>
                                    <div style="width: 100%; margin: 10px 0;">
                                        {% for field, errors in form.errors.items() %}
                                        <div class="alert alert-error">
                                            {{ '\n'.join(errors) }}
                                        </div>
                                        {% endfor %}
                                    </div>
                                    {{ form.submit(class_="form-submit-button") }}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    {% include "includes/footer.html" %}
</html>