<!DOCTYPE html>
<html>
    <head>
        <title>Data Panel</title>
        <script src="/static/js/data.js"></script>
        <script src="/static/js/serverDate.js"></script>
        <link rel="stylesheet" href={{ "/static/css/color-"~mode~".css" }}>
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="shortcut icon" href="/favicon.ico">
        <meta charset="UTF-8">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="header">
            <a href="/data" class="logo"><img alt="NEOSMAP Web Interface" src={{ "/static/img/logo-"~mode~".png" }}></a>
            <div class="header-right">
                <a class="logout" href="/auth/logout">Logout</a>
                <a class="active">Data Panel</a>
                <a href="/monitor">Monitor</a>
                <a href="/info">Info</a>
                <a class="settings-icon" onclick="window.location.href='/settings';"><img {% if mode == "dark" %}class="filter-white"{% endif %} alt="Settings" src="/static/img/settings.svg"></a>
            </div>
        </div>
        <noscript>
            <style type="text/css">
                .main-container {display:none;}
            </style>
            <div class="no-js-container">
                <p>
                    You don't have javascript enabled.  Please enable javascript and reload the page.
                </p>
            </div>
        </noscript>
        <div class="main-container">
            <div id="side-menu" class="side-menu">
                <h3 class="nav-title">
                    Clock [UTC]
                </h3>
                <p id="clock"></p>
                <h3 class="side-title">
                    Data Options
                </h3>
                <div class="container-col data-manage-box">
                    <div>
                        <h4 class="side-subtitle">
                            Display
                        </h4>
                    </div>
                    <div class="container-col" style="padding: 0 0 10px;">
                        <div class="container-row">
                            <p class="sort-label">
                                Sort by:
                            </p>
                            <select name="sort-selector" id="sort-selector">
                                <option value="Index" selected>Index</option>
                                {% for k in filt_cols %}
                                    <option value={{k}}>{{k}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div style="align-self: flex-start; margin-bottom: 10px;">
                            <input class="check-box" type="checkbox" id="visible-selector" name="visible" value="visible">
                            <label class="check-box-label" for="visible-selector">Show Visible Only</label><br>
                        </div>
                    </div>
                </div>
                <div class="container-col data-manage-box">
                    <div>
                        <h4 class="side-subtitle">
                            Filters
                        </h4>
                    </div>
                    <div class="container-col filter-parent" id="filter-box">
                        <div class="container-row" style="padding: 10px 0;">
                            <select name="sort-selector" id="filter-selector">
                                <option value="none" selected>-</option>
                                {% for k in filt_cols %}
                                    <option value={{k}}>{{k}}</option>
                                {% endfor %}
                            </select>
                            <button id="add-filter" onclick="addFilter()">Add</button>
                        </div>
                    </div>
                </div>
                <div class="container-col data-manage-box">
                    <div>
                        <h4 class="side-subtitle">
                            Show Column(s)
                        </h4>
                    </div>
                    <div class="container-col" style="padding: 20px 0;">
                        {% for i in columns %}
                        <div style="margin-top: 3px;" translate="no">
                            <input class="check-box" type="checkbox" id={{i}} name={{i}} value={{i}} checked>
                            <label class="check-box-label" for={{i}}>{{i}}</label><br>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="container-row workspace-container" style="align-items: stretch;">
                <div class="container-col" style="align-items: stretch; align-self: stretch; flex-grow: 1;">
                    <div id="data">
                        <div class="container-row title-underline">
                            <div class="container-col" style="align-self: flex-start;">
                                <p class="title-header">
                                    Data Panel
                                </p>
                            </div>
                            <div class="container-row" style="justify-content: flex-end; align-self: center; flex-grow: 1;">
                                <button type="button" class="main-data-button animate drop-in" onclick="loadDoc()" id="table-generator">Regenerate Table</button>
                                <button type="button" class="main-data-button animate drop-in time-400" onclick="exportFile(id)" id="csv">Export to CSV</button>
                                <button type="button" class="main-data-button animate drop-in time-500" onclick="exportFile(id)" id="json">Export to JSON</button>
                            </div>

                        </div>
                        <div class="container-col" id="table-loader-box">
                            <div class="loader" id="table-loader">
                            </div>
                        </div>
                        <div class="container-row" id="data-display">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    {% include "includes/footer.html" %}
</html>