<!DOCTYPE html>
<html>
    <head>
        <title>Data Panel</title>
        <script src="/static/js/data.js"></script>
        <script src="/static/js/serverDate.js"></script>
        <link rel="stylesheet" href={{ "/static/css/color-"~mode~".css" }}>
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="shortcut icon" href="/favicon.ico">
        <meta charset="UTF-8">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="header">
            <a href="/data" class="header__logo-box"><img class="header__logo" alt="NEOSMAP Web Interface" src={{ "/static/img/logo-"~mode~".png" }}></a>
            <div class="header__menu">
                <a class="header__button header__logout-button" href="/auth/logout">Logout</a>
                <a class="header__button header__button--active">Data Panel</a>
                <a class="header__button header__button--inactive" href="/monitor">Monitor</a>
                <a class="header__button header__button--inactive" href="/info">Info</a>
                <a class="header__button header__settings-button" onclick="window.location.href='/settings';"><img {% if mode == "dark" %} class="header__settings-icon--white" {% else %} class="header__settings-icon" {% endif %} alt="Settings" src="/static/img/settings.svg"></a>
            </div>
        </div>
        <noscript>
            <style type="text/css">
                .main {display:none;}
            </style>
            <div class="main--no-js">
                <p>
                    You don't have javascript enabled.  Please enable javascript and reload the page.
                </p>
            </div>
        </noscript>
        <div class="main">
            <div id="side-menu" class="side-menu">
                <h3 class="side-menu__title">
                    Clock [UTC]
                </h3>
                <div class="side-menu__section">
                    <p id="clock"></p>
                </div>
                <h3 class="side-menu__title">
                    Data Options
                </h3>
                <div class="side-menu__section">
                    <h4 class="side-menu__sub-title">
                        Display
                    </h4>
                    <div class="side-menu__sub-section">
                        <div class="container-flex--row">
                            <p class="side-menu__drop-down-label">
                                Sort by:
                            </p>
                            <select class="side-menu__drop-down side-menu__drop-down--left-margin" id="sort-selector">
                                <option value="Index" selected>Index</option>

                                {% for k in filt_cols %}
                                    <option value={{k}}>{{k}}</option>
                                {% endfor %}

                            </select>
                        </div>
                        <div class="side-menu__option-box">
                            <input class="side-menu__check-box" type="checkbox" id="visible-selector" name="visible" value="visible">
                            <label class="side-menu__check-box-label" for="visible-selector">Show Visible Only</label><br>
                        </div>
                    </div>
                </div>
                <div class="side-menu__section">
                    <h4 class="side-menu__sub-title">
                        Filters
                    </h4>
                    <div class="side-menu__filter-box">
                        <select class="side-menu__drop-down" id="filter-selector">
                            <option value="none" selected>-</option>

                            {% for k in filt_cols %}
                                <option value={{k}}>{{k}}</option>
                            {% endfor %}

                        </select>
                        <button class="button button--blue-hover button--add-filter" onclick="addFilter()">Add</button>
                    </div>
                    <div id="filter-box"></div>
                </div>
                <div class="side-menu__section">
                    <h4 class="side-menu__sub-title">
                        Show Column(s)
                    </h4>
                    <div class="side-menu__column-selector-box">

                        {% for i in columns %}
                        <div class="side-menu__column-selector" translate="no">
                            <input class="side-menu__check-box" type="checkbox" id={{i}} name={{i}} value={{i}} checked>
                            <label class="side-menu__check-box-label" for={{i}}>{{i}}</label>
                            <br>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
            <div id="main-data" class="container-primary--row">
                <div class="data">
                    <div class="data__header">
                        <p class="data__header__title">
                            Data Panel
                        </p>
                        <div class="data__header__tool-tip">
                            <img class="data__header__tool-tip-icon" src="/static/img/warning.png" alt="Warning">
                            <span class="data__header__tool-tip-text">May be up to 5 minutes out of date. See monitor page for live data.</span>
                        </div>
                        <div class="data__header__button-box">
                            <button type="button" class="button button--blue-hover data__header__button animate drop-in" onclick="loadDoc()" id="table-generator">Refresh</button>
                            <button type="button" class="button button--blue-hover data__header__button animate drop-in time-400" onclick="exportFile(id)" id="csv">Export to CSV</button>
                            <button type="button" class="button button--blue-hover data__header__button animate drop-in time-500" onclick="exportFile(id)" id="json">Export to JSON</button>
                        </div>
                    </div>
                    <div class="loader-box">
                        <div class="loader" id="table-loader">
                        </div>
                    </div>
                    <div class="data__display" id="data-display">
                    </div>
                </div>
            </div>
        </div>
    </body>
    {% include "includes/footer.html" %}
</html>