<!DOCTYPE html>
<html>
    <head>  
        <title>Home</title>
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="shortcut icon" href="/favicon.ico">
    </head>
    <body>
        <div class="header">
            <a href="/home" class="logo">NEOSMAP Web Interface</a>
            <div class="header-right">
                <a class="active">Home</a>
                <a href="/data">Data Panel</a>
                <a href="/info">Info</a>
            </div>
        </div>
        <div class="main-container-no-left">
            <div class="welcome-text-box" style="margin-top: 24vh; align-self: flex-start; margin-left: 10vw;">
                <p class="welcome-text" style="color: white !important">
                    NEOSMAP Web Interface
                </p>
            </div>
        </div>
    </body>
    {% include "includes/footer.html" %}
</html>