<!DOCTYPE html>
<html>
    <head>
        <title>Info</title>
        <link rel="stylesheet" href={{ "/static/css/color-"~mode~".css" }}>
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="/static/css/info.css">
        <script src="/static/js/main.js"></script>
        <script src="/static/js/info.js"></script>
        <script src="/static/js/serverDate.js"></script>
        <link rel="shortcut icon" href="/favicon.ico">
    </head>
    <body>
        <div class="header">
            <a href="/data" class="header__logo-box"><img class="header__logo" alt="NEOSMAP Web Interface" src={{ "/static/img/logo-"~mode~".png" }}></a>
            <div class="header__menu">
                <a class="header__button header__button--inactive" href="/data">Data Panel</a>
                <a class="header__button header__button--inactive" href="/monitor">Monitor</a>
                <a class="header__button header__button--active">Info</a>
                <a class="header__button header__menu-button header__menu-dropdown" onclick="toggleHeaderMenuDropdown()"><img {% if mode == "dark" %} class="header__menu-icon--white" {% else %} class="header__menu-icon" {% endif %} alt="Menu" src="/static/img/menu.svg"></a>
            </div>
        </div>
        <div id="header-dropdown" class="header__menu-dropdown-content header__menu-dropdown-content--inactive">
            <a class="header__menu-dropdown-content__button" href="/settings">Settings</a>
            <hr class="header__menu-dropdown-content__separator">
            <a class="header__menu-dropdown-content__button header__logout-button" href="/auth/logout">Logout</a>
        </div>
        <div class="main">
            <div id="side-menu" class="side-menu">
                <h3 class="side-menu__title">
                    Navigation
                </h3>
                <div class="container-flex--col">
                    <button class="button side-menu__tab-link header__button--active" onclick="openContent(event,about)" id="default-open">About</button>
                    <button class="button side-menu__tab-link" onclick="openContent(event,acknowledgements)">Acknowledgements</button>
                    <button class="button side-menu__tab-link" onclick="openContent(event,attributions)">Attributions</button>
                </div>
                <h3 class="side-menu__title">
                    Clock [UTC]
                </h3>
                <div class="side-menu__section">
                    <p id="clock"></p>
                </div>
            </div>
            <div id="about" class="container-primary--col tab-content">
                <div class="info__header">
                    <p class="info__header__title">
                        About
                    </p>
                </div>
                <p class="info__sub-section">
                    The Near-Earth Object Statistical Management Program (NEOSMAP) was built for the University of Washington NEO observation follow-up team to aid in object tracking and selection. The system has two primary functionalities; NEO data visualization and live MPC database monitoring.
                </p>
                <hr class="info__sub-title__hr">
                <h3 class="info__sub-title info__sub-title--underline info__sub-title--pad-top">
                    Data Panel
                </h3>
                <p class="info__sub-section">
                    The data panel provides a list of all active objects from the NEO confirmation page. On the left side of the page is a collection of self-explanatory data sorting tools. All data displayed on this page is retrieved from the JPL Scout API (see acknowledgements), meaning information could be up to 5 minutes out of date with respect to MPC data.
                </p>
                <p class="info__sub-section">
                    Further information about an object - including visualizations, approximate movement, and ephemerides - can be obtained by clicking on its row in the table. The NEO detail page may take a few seconds to load as the server needs to gather data from JPL and generate the relevant graphics.
                </p>
                <p class="info__sub-section">
                    The graphics and some of the data provided in the main table (vis and fullScore) are heavily position dependent, thus it is important the observatory location (defined under settings) is correct.
                </p>
                <hr class="info__sub-title__hr">
                <h3 class="info__sub-title info__sub-title--underline info__sub-title--pad-top">
                    Monitor
                </h3>
                <p class="info__sub-section">
                    The monitor page provides real time updates to changes in MPC NEO confirmation page data. The confirmation page is checked once every 60 seconds, and will provide a notification to all users with the monitor page open via an audio cue and a banner in the left panel (I plan to include an option for a visual cue in the near future, such as a flashing screen, to improve accessibility to those who are hard of hearing). Selecting the notification banner opens a dropdown option menu, allowing easy access to the observations submitted to the MPC and the native NEO overview page.
                </p>
                <p class="info__sub-section">
                    On the right side of the page is a table including a list of information regarding current NEO positions. This data is obtained from the MPC, so it is up-to-date to within 60 seconds. This table behaves in the same way as the main table in the data panel; selecting a row opens the NEO detail page for that object.
                </p>
                <p class="info__sub-section">
                    Each individual update can be "cleared", moving it to a collapsible section so it can be ignored. An update can be restored by clicking on its banner in the Cleared Updates dropdown and selecting "Restore". Updates on the monitor page will be visible for 12 hours after detection, after which time they will be deleted.
                </p>
                <h3 class="info__sub-title info__sub-title--underline info__sub-title--pad-top"></h3>
                <p class="info__sub-section">
                    If you find any bugs, or have any suggestions or criticism you would like to share, please feel free to raise an issue on the project <a href="https://github.com/taylornstjean/neosmap" target="_blank">GitHub</a> repository.
                </p>
            </div>

            <div id="acknowledgements" class="container-primary--col tab-content">
                <div class="info__header">
                    <p class="info__header__title">
                        Acknowledgements
                    </p>
                </div>
                <div class="container-flex--col info__section">
                    <h3 class="info__sub-title">
                        <a href="https://www.jpl.nasa.gov/" class="info__sub-title_link" target="_blank">
                            Jet Propulsion Laboratory (JPL)
                        </a>
                    </h3>
                    <p class="info__sub-section">
                        This software uses data retrieved from the CNEOS Scout API. The API is hosted by Jet Propulsion Laboratory (JPL), a research and development lab federally funded by NASA and managed by Caltech. This project is not affiliated with nor was it endorsed by NASA, JPL, or Caltech.
                        <br><br>
                        The API documentation can be accessed <a href="https://ssd-api.jpl.nasa.gov/doc/scout.html" target="_blank">here</a>.
                    </p>
                </div>
                <div class="info__section">
                    <h3 class="info__sub-title">
                        <a href="https://www.minorplanetcenter.net/" class="info__sub-title_link" target="_blank">
                            Minor Planet Center (MPC)
                        </a>
                    </h3>
                    <p class="info__sub-section">
                        This software uses data and/or services provided by the International Astronomical Union's (IAU) Minor Planet Center (MPC). This project is not affiliated with nor was it endorsed by the IAU.
                        <br><br>
                        The MPC NEO confirmation page can be found <a href="https://minorplanetcenter.net/iau/NEO/toconfirm_tabular.html" target="_blank">here</a>.
                    </p>
                </div>
            </div>

            <div id="attributions" class="container-primary--col tab-content">
                <div class="info__header">
                    <p class="info__header__title">
                        Attributions
                    </p>
                </div>
                <p class="info__sub-section">
                    The favicon for this website was obtained from <a href="https://www.flaticon.com/free-icons/comet" target="_blank">flaticon.com</a>.
                </p>
                <p class="info__sub-section">
                    The background image was obtained from <a href="https://images.nasa.gov/details/PIA12348" target="_blank">nasa.gov</a>.
                </p>
            </div>
        </div>
    </body>
    {% include "includes/footer.html" %}
</html>