<!DOCTYPE html>
<html>
    <head>
        <title>Settings</title>
        <script src="/static/js/serverDate.js"></script>
        <script src="/static/js/config.js"></script>
        <link rel="stylesheet" href={{ "/static/css/color-"~mode~".css" }}>
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="shortcut icon" href="/favicon.ico">
        <meta charset="UTF-8">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="header">
            <a href="/data" class="header__logo-box"><img class="header__logo" alt="NEOSMAP Web Interface" src={{ "/static/img/logo-"~mode~".png" }}></a>
            <div class="header__menu">
                <a class="header__button header__logout-button" href="/auth/logout">Logout</a>
                <a class="header__button header__button--inactive" href="/data">Data Panel</a>
                <a class="header__button header__button--inactive" href="/monitor">Monitor</a>
                <a class="header__button header__button--inactive" href="/info">Info</a>
                <a class="header__button header__settings-button"><img {% if mode == "dark" %} class="header__settings-icon--white" {% else %} class="header__settings-icon" {% endif %} alt="Settings" src="/static/img/settings.svg"></a>
            </div>
        </div>
        <noscript>
            <style type="text/css">
                .main {display:none;}
            </style>
            <div class="main--no-js">
                <p>
                    You don't have javascript enabled.  Please enable javascript and reload the page.
                </p>
            </div>
        </noscript>
        <div class="main">
            <div id="side-menu" class="side-menu">
                <h3 class="side-menu__title">
                    Clock [UTC]
                </h3>
                <div class="side-menu__section">
                    <p id="clock"></p>
                </div>
            </div>
            <div class="container-primary--row">
                <div class="container-flex--col" style="align-items: stretch; align-self: stretch; flex-grow: 1;">
                    <div id="configuration" class="container-flex--col">
                        <div class="data__header">
                            <p class="data__header__title">
                                Settings
                            </p>
                        </div>
                        <div class="settings-box container-flex--col">
                            <form method="POST" action="/settings">
                                {{ form.csrf_token }}
                                <p class="subtitle-header">
                                    Observatory
                                </p>
                                <div class="container-flex--row settings-row" style="align-items: self-start;">
                                    <div class="input-section container-flex--col">
                                        {{ form.latitude.label(class_="config-label", style_="padding-bottom: 5px;") }}
                                        {{ form.latitude(class_="text-input set-width-200", value_=conf.observatory_latitude) }}
                                    </div>
                                    <div class="input-section container-flex--col">
                                        {{ form.longitude.label(class_="config-label", style_="padding-bottom: 5px;") }}
                                        {{ form.longitude(class_="text-input set-width-200", value_=conf.observatory_longitude) }}
                                    </div>
                                    <div class="input-section container-flex--col">
                                        {{ form.min_altitude.label(class_="config-label", style_="padding-bottom: 5px;") }}
                                        {{ form.min_altitude(class_="text-input set-width-200", value_=conf.minimum_altitude) }}
                                    </div>
                                </div>
                                <hr class="sep-line">
                                <p class="subtitle-header" style="margin-top: 20px;">
                                    Telescope
                                </p>
                                <div class="container-flex--row settings-row">
                                    <div class="input-section container-flex--col">
                                        {{ form.ts_primary_mirror_diameter.label(class_="config-label", style_="padding-bottom: 5px;") }}
                                        {{ form.ts_primary_mirror_diameter(class_="text-input set-width-200", value_=conf.primary_mirror_diameter) }}
                                    </div>
                                    <div class="input-section container-flex--col">
                                        {{ form.ts_focal_ratio.label(class_="config-label", style_="padding-bottom: 5px;") }}
                                        {{ form.ts_focal_ratio(class_="text-input set-width-200", value_=conf.focal_ratio) }}
                                    </div>
                                </div>
                                <hr class="sep-line">
                                <div style="width: 100%; margin: 10px 0;">

                                    {% for field, errors in form.errors.items() %}
                                    <div class="alert alert-error" style="text-align: left;">
                                        {{ '\n'.join(errors) }}
                                    </div>
                                    {% endfor %}

                                </div>
                                {{ form.submit(class_="form-submit-button set-width-200") }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    {% include "includes/footer.html" %}
</html>