<table class="data-table data-table--main" translate="no">
    <tr class="data-table__header">
    {% for i in data.keys() %}
        <th class="data-table__header-cell">
            {% if i == "ra" %}
                {{ i~" [ha]" }}
            {% elif i == "dec" %}
                {{ i~" [deg]" }}
            {% else %}
                {{ i }}
            {% endif %}
        </th>
    {% endfor %}
    </tr>
    {% for k in data["objectName"].keys() %}
        <tr onclick="window.open(`/neo?tdes={{ data["objectName"][k] }}`, '_blank').focus()" class="data-table__row--selectable">
        {% for j in data.keys() %}
            <td class="data-table__table-cell">
                {{ data[j][k] }}
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
</table>