<table class="full-table" id="monitor-data-table" style="padding: 0; width: 100%;" translate="no">
    <tr class="sticky-header">
    {% for i in data.keys() %}
        <th class="table-head">
            {% if i == "ra" %}
                {{ i~" [ha]" }}
            {% elif i == "dec" %}
                {{ i~" [deg]" }}
            {% else %}
                {{ i }}
            {% endif %}
        </th>
    {% endfor %}
    </tr>
    {% for k in data["objectName"].keys() %}
        <tr onclick="window.open(`/neo?tdes={{ data["objectName"][k] }}`, '_blank').focus()" class="selectable-row table-body">
        {% for j in data.keys() %}
            <td class="table-cell">
                {{ data[j][k] }}
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
</table>