<meta name="update-flag" content={{ updated }}>
<table id="m-data-header" translate="no">
    <tr class="m-section-header">
        <th class="table-head m-section-title">
            Updates
        </th>
        <td class="m-clear-update table-cell" onclick="clearAllUpdates()">
            <nobr>Clear All</nobr>
        </td>
    </tr>
</table>
<div id="m-data" translate="no">
    {% set counter = namespace(p=0) %}
    {% set counter.p = 0 %}

    {% for index, update in updates.iterrows() %}
        {% if update["old"] == "false" %}
            {% set counter.p = counter.p + 1 %}
        {% endif %}
    {% endfor %}

    {% set old_false_len = counter.p %}
    {% if old_false_len == 0 %}
        <p class="m-info-text">
            Nothing to see yet.
        </p>
    {% endif %}

    {% for index, update in updates.iterrows() %}
    {% if update["old"] == "false" %}
        <div class="m-widget m-widget-current container-flex--col" id="{{ update['id'] }}">
            <div class="m-widget-header container-flex--col {{ update['action'] }}" onclick="toggleWidgetDropdown(`{{ update['id'] }}_dd`)">
                <table>
                    <tr>
                        <td>
                            {{ update["banner"] }}
                        </td>
                        <th class="right-cell">
                            {{ update["time"] }}
                        </th>
                    </tr>
                    <tr>
                        <th>
                            {{ update["objectName"] }}
                        </th>
                    </tr>
                    {% if update["attribute"] == "nobs" %}
                        <tr>
                            <td>
                                Observations: {{ update["nObs_i"] }} &#8594; {{ update["nObs_f"] }}
                            </td>
                        </tr>
                    {% endif %}
                </table>
            </div>
            <div id="{{ update['id'] }}_dd" class="m-widget-dd">
                <table class="m-dd-content">
                    <tr>
                        <td>
                            {% if update["action"] != "object-removal" %}
                                <span class="m-dd-button" onclick="window.open('https://cgi.minorplanetcenter.net/cgi-bin/showobsorbs.cgi?Obj={{ update["objectName"] }}&obs=y','_blank')">View Observations</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if update["action"] != "object-removal" %}
                                <span class="m-dd-button" onclick="window.open('/neo?tdes={{ update["objectName"] }}','_blank')">View Data Panel</span>
                            {% endif %}
                        </td>
                        <td class="right-cell m-dd-clear">
                            <span class="m-dd-button" onclick="clearUpdates(`{{ update['id'] }}`)">Clear</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    {% endif %}
    {% endfor %}
</div>
<table id="m-clear-data-header" translate="no">
    <tr class="m-section-header">
        <th class="table-head m-section-title">
            Cleared Updates
        </th>
        <td class="expand-cleared-update table-cell" id="monitor-expand" onclick="toggleClearedUpdates()">
            Expand
        </td>
    </tr>
</table>
<div id="m-clear-data" class="invisible" translate="no">
    {% set counter = namespace(p=0) %}
    {% set counter.p = 0 %}

    {% for index, update in updates.iterrows() %}
        {% if update["old"] == "true" %}
            {% set counter.p = counter.p + 1 %}
        {% endif %}
    {% endfor %}

    {% set old_true_len = counter.p %}
    {% if old_true_len == 0 %}
        <p class="m-info-text">
            Nothing to see yet.
        </p>
    {% endif %}

    {% for index, update in updates.iterrows() %}
    {% if update["old"] == "true" %}
        <div class="m-widget container-flex--col" id="{{ update['id'] }}">
            <div class="m-widget-header container-flex--row {{ update['action'] }}" onclick="toggleWidgetDropdown(`{{ update['id'] }}_dd`)">
                <table>
                    <tr>
                        <td>
                            {{ update["banner"] }}
                        </td>
                        <th class="right-cell">
                            {{ update["time"] }}
                        </th>
                    </tr>
                    <tr>
                        <th>
                            {{ update["objectName"] }}
                        </th>
                    </tr>
                    {% if update["attribute"] == "nobs" %}
                        <tr>
                            <td>
                                Observations: {{ update["nObs_i"] }} &#8594; {{ update["nObs_f"] }}
                            </td>
                        </tr>
                    {% endif %}
                </table>
            </div>
            <div id="{{ update['id'] }}_dd" class="m-widget-dd">
                <table class="m-dd-content">
                    <tr>
                        <td>
                            {% if update["action"] != "object-removal" %}
                                <span class="m-dd-button" onclick="window.open('https://cgi.minorplanetcenter.net/cgi-bin/showobsorbs.cgi?Obj={{ update["objectName"] }}&obs=y','_blank')">View Observations</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if update["action"] != "object-removal" %}
                                <span class="m-dd-button" onclick="window.open('/neo?tdes={{ update["objectName"] }}','_blank')">View Data Panel</span>
                            {% endif %}
                        </td>
                        <td class="right-cell m-dd-clear">
                            <span class="m-dd-button" onclick="restoreUpdates(`{{ update['id'] }}`)">Restore</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    {% endif %}
    {% endfor %}
</div>