<table class="data-table data-table--main animate table-fade" translate="no">
    <tr class="data-table__header">
    {% for i in data.keys() %}
        <th class="data-table__header-cell">
            {{i}}
        </th>
    {% endfor %}
    </tr>
    {% for k in data["objectName"].keys() %}
        <tr onclick='document.location.href=`/neo?tdes={{ data["objectName"][k] }}`' class="data-table__row--selectable">
        {% for j in data.keys() %}
            {% if j == "moid" %}
                {% if data[j][k] | float <= 0.01 %}
                    {% set warn_class = " data-table__table-cell--warning-moid" %}
                {% endif %}
            {% else %}
                    {% set warn_class = "" %}
            {% endif %}
            <td class='{{ "data-table__table-cell"~warn_class }}' id={{ data["objectName"][k]~"-"~j }}>
                {{ data[j][k] }}
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
</table>