<table class="full-table animate table-fade" id="main-data-table" style="padding: 0; width: 100%;" translate="no">
    <tr class="sticky-header">
    {% for i in data.keys() %}
        <th class="table-head">
            {{i}}
        </th>
    {% endfor %}
    </tr>
    {% for k in data["objectName"].keys() %}
        <tr onclick='document.location.href=`/neo?tdes={{ data["objectName"][k] }}`' class="selectable-row table-body">
        {% for j in data.keys() %}
            <td class="table-cell">
                {{ data[j][k] }}
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
</table>