/* ######################################### */
/* GLOBAL */

:root {
    --header-height: 70px;
    --side-panel-width: 200px;
    --side-panel-margin: 20px;
    --title-bottom-margin: 15px;
    --table-font-size: 0.8em;
}

html * {
    font-family: "Ubuntu", sans-serif !important;
    font-size: 100%;
    color: var(--font-color);
}


input:-webkit-autofill {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0 50px #222 inset;
}

/* ######################################### */
/* BACKGROUND */

body {
    background-color: var(--main-bg-color);
}

#background {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    z-index: -1;
    transform: scale(1);
}

/* ######################################### */
/* HEADER & FOOTER */

.header {
    overflow: hidden;
    position: fixed;
    top: 0; left: 0; right: 0;
    background-color: var(--header-bg-color);
    border-bottom: 2px var(--main-border-color) solid;
    padding: 0 10px;
    height: var(--header-height);
    z-index: 3;
}

.header__menu {
    float: right;
}

.header__logo-box {
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
    color: var(--font-color);
    margin: 7px 10px;
    border-bottom: none;
    float: left;
    text-align: center;
    text-decoration: none;
    line-height: calc(var(--header-height) * 0.25);
    transition: all 0.1s;
}

.header__logo {
    height: calc(var(--header-height) - 25px);
}

.header__button {
    float: left;
    color: var(--font-color);
    text-align: center;
    padding: calc(var(--header-height) * 0.2);
    text-decoration: none;
    font-size: calc(var(--header-height) * 0.25);
    line-height: calc(var(--header-height) * 0.25);
    margin: 10px 7px;
    transition: all 0.1s;
    border-bottom: 1px solid var(--main-border-color);
}

.header__button:hover {
    cursor: pointer;
}

.header__settings-button {
    padding: 5px;
    margin: 10px 0;
    border-bottom: none;
    float: left;
}

.header__settings-button:hover {
    background-color: transparent;
    transition: transform 0.2s ease-out;
    transform: scale(1.1);
}

.header__settings-icon {
    height: calc(var(--header-height) - 30px);
}

.header__settings-icon--white {
    height: calc(var(--header-height) - 30px);
    filter: invert(100%) sepia(95%) saturate(0%) hue-rotate(115deg) brightness(104%) contrast(105%);
}

.header__logout-button {
    border-bottom: none;
    color: red;
}

.header__logout-button:hover {
    background-color: var(--header-button-bg-color-hover) !important;
}

.header__button--active {
    background-color: var(--light-accent-color--opaque) !important;
}

.header__button--inactive:hover {
    background-color: var(--header-button-bg-color-hover);
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header__menu {
        float: none;
    }
}

footer {
    background-color: var(--footer-bg-color);
    position: fixed;
    bottom: 0; left: 0; right: 0;
    border-top: 2px var(--main-border-color) solid;
}

.footer__text {
    text-align: center;
    margin: auto;
    color: var(--font-color);
    padding: 5px;
    font-size: 12px !important;
}

.footer__link {
    color: var(--font-color);
}

.footer__link:link {
    text-decoration: none;
    font-size: 1em;
    text-align: center;
    margin: auto;
    color: var(--font-color);
}

.footer__link:hover {
    color: #aaa;
    text-decoration: underline;
}

/* ######################################### */
/* MAIN CONTAINERS */

.main {
    margin-top: calc(var(--header-height) + 2px);
    margin-left: var(--side-panel-width);
    margin-bottom: 28px;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    align-items: stretch;
}

.main--no-side-menu {
    margin-top: calc(var(--header-height) + 2px);
    margin-bottom: 28px;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

.main--no-js {
    margin-top: calc(var(--header-height) + 2px);
    margin-bottom: 28px;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    text-align: center;
}

.container-primary--row {
    margin: 10px 20px;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    align-self: stretch;
}

.container-primary--col {
    margin: 10px 20px;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

.container-flex--row {
    display: flex;
    flex-direction: row;
    align-self: stretch;
}

.container-flex--col {
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

.data {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: stretch;
    flex-grow: 1;
}

.side-menu__section {
    background-color: var(--side-panel-bg-color);
    margin: 0 var(--side-panel-margin);
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

.side-menu__sub-section {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    padding: 0 0 10px;
}

#eph-content {
    flex-grow: 0;
    align-items: stretch;
}

.await-ephemerides {
    display: none;
}

.neo-left-col {
    width: 60%;
    padding: 0 10px 0 0;
    min-width: 450px;
    transition: width 0.3s ease;
}

#plot-col {
    width: 40%;
    min-width: 400px;
    flex-grow: 1;
    margin-left: 10px;
    padding: 20px;
    align-self: stretch;
    transition: width 0.3s ease;
}

#plot-col > * {
    margin-bottom: 30px;
    width: 100%;
}

.side-menu__filter-box {
    padding: 10px 0 30px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-self: stretch;
}

.data__display {
    flex-grow: 1;
}

.gauge {
    padding: 20px;
    margin: 5px;
    min-width: 60px;
    justify-self: center;
    flex-grow: 1;
}

#gauge-row {
    flex-grow: 0;
    width: 100%;
    margin: 0 0 20px;
    align-self: center;
    align-content: center;
    flex-wrap: wrap;
}

#overview-box {
    flex-grow: 0;
    padding: 20px;
    align-self: stretch;
    align-content: center;
    justify-content: center;
}

#radec-box {
    width: 57%;
    min-width: 300px;
    transition: all 0.5s ease;
}

#vis-data {
    width: 40%;
    margin-right: 20px;
    min-width: 300px;
    margin-bottom: 30px;
    transition: width 0.5s ease;
}

@media screen and (max-width: 1750px) {
    #radec-box, #vis-data {
        width: 100%;
    }
    .neo-left-col, #plot-col {
        width: 50%;
    }
}

.vis-status-box {
    border: 2px solid #65e52c;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    margin: 30px 0;
    padding: 5px 0;
}

.vis-status-box > * {
    font-size: 1.4em;
    color: #65e52c !important;
    margin: 0;
    padding: 0;
}

.neo-invisible {
    border-color: #D2042D;
}

.neo-invisible > * {
    color: #D2042D !important;
}

.dashboard-item {
    border: 1px solid var(--main-border-color);
    background: var(--item-color);
}

#script-popup {
    position: fixed;
    top: 0; right: 0; left: 0; bottom: 0;
    padding: 20vh 30vw;
    background: rgba(0, 0, 0, .5);
    z-index: 20;
    display: none;
    transition: all 0.3s ease;
}

.popup-content {
    background: var(--secondary-bg-color);
    border: 2px solid var(--main-border-color);
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-self: flex-start;
    box-shadow: 0 0 100px 2px #222;
    position: relative;
}

.popup-top {
    background: dimgrey;
    position: absolute;
    top: 0; left: 0; right: 0;
    border-bottom: 3px solid var(--main-border-color);
    flex-direction: row;
    height: 30px;
}

.popup-body {
    overflow-y: scroll;
    position: absolute;
    padding: 20px 20px;
    background-color: var(--item-color);
    bottom: 43px; left: 0; right: 0; top: 32px;
    flex-direction: column;
    display: flex;
}

.popup-bottom {
    background: dimgrey;
    position: absolute;
    bottom: 0; left: 0; right: 0;
    border-top: 2px solid var(--main-border-color);
    height: 40px;
    flex-direction: row-reverse;
    display: flex;
}

.popup-title {
    font-size: 1.2em;
    margin: auto;
    padding: 5px 10px 5px 10px;
    align-self: flex-start;
}

.popup-button {
    background: var(--button-bg-color);
    border: 1px solid var(--button-border-color);
    color: var(--font-color);
    height: 2em;
    margin: 5px 5px 5px 10px;
    width: 150px;
}

.popup-button.close {
    background: darkred;
}

.popup-button.close:hover {
    background: red;
}

.popup-button.close:active {
    background: darkred;
}

.popup-button:hover {
    background: var(--button-bg-color-hover);
    border: 1px solid var(--button-border-color);
}

.popup-button:active {
    background: var(--button-bg-color-active);
    border: 1px solid var(--button-border-color);
}

#popup-alert-box {
    color: darkred !important;
}

.settings-box {
    border: 1px solid var(--main-border-color);
    align-self: stretch;
    background-color: var(--item-color);
    padding: 30px;
    margin-top: 10px;
    border-radius: 3px;
}

.sep-line {
    color: var(--main-border-color);
}

.settings-row > :not(:first-child) {
    margin-left: 20px;
}

/* ######################################### */
/* TITLES AND TEXT */

.welcome-text {
    text-align: center;
    font-size: 2.5em;
}

.welcome-subtext {
    text-align: center;
    font-size: 1.25em;
}

.welcome-text-box {
    height: 30em;
    vertical-align: middle;
}

title * {
    user-select: none;
}

.data__header {
    border-bottom: 2px solid var(--font-color);
    margin-bottom: var(--title-bottom-margin);
    display: flex;
    flex-direction: row;
    align-self: stretch;
    flex-grow: 1;
    align-content: stretch;
}

.title-header-box {
    vertical-align: middle;
}

.data__header__title {
    text-align: left;
    color: var(--font-color);
    font-size: 1.5em;
    padding-bottom: 0;
    margin-bottom: 5px;
    font-weight: bold;
    flex-direction: column;
    align-self: flex-start;
    display: inline;
}

.subtitle-header {
    text-align: left;
    color: var(--font-color);
    font-size: 1.5em;
    padding: 0;
    margin: 0 0 20px;
    font-weight: bold;
}

.side-menu__title {
    text-align: center;
    color: var(--font-color);
    background: var(--tertiary-bg-color);
    margin: 0;
    padding: 20px 0;
}

.side-menu__title:not(:first-child) {
    border-top: 2px #333 solid;
}

.desig-title {
    color: var(--obj-desig-color);
}

.panel-section-title {
    margin: auto 0;
    color: var(--font-color);
}

.white-text {
    color: var(--font-color);
}

.gauge p.gauge-value {
    font-size: 3em;
    text-align: center;
    color: var(--accent-color);
    margin: 0;
}

.gauge p.gauge-title {
    font-size: 0.8em;
    text-align: center;
}

.script-options-label {
    font-size: 16px;
    vertical-align: center;
}

.popup-section-title {
    width: 100%;
    border-bottom: 2px solid var(--main-border-color);
    padding: 0;
    margin-bottom: 10px;
}

.data__header__tool-tip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
    width: 2em;
    height: 2em;
    align-self: flex-end;
    padding: 0.2em;
    margin-left: 1em;
}

.data__header__tool-tip-icon {
    width: 100%;
    height: 100%;
}

/* Tooltip text */
.data__header__tool-tip .data__header__tool-tip-text {
    visibility: hidden;
    width: 250px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px 5px;
    border-radius: 6px;
    top: -10px;
    left: 105%;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 50;
}

/* Show the tooltip text when you mouse over the tooltip container */
.data__header__tool-tip:hover .data__header__tool-tip-text {
    visibility: visible;
}

.data__header__tool-tip:hover {
    cursor: pointer;
}

/* ######################################### */
/* SIDE PANEL */

.side-menu {
    width: var(--side-panel-width);
    display: flex;
    flex-direction: column;
    border-right: 1px var(--main-border-color) solid;
    align-self: stretch;
    position: fixed;
    left: 0;
    bottom: 24px;
    top: calc(var(--header-height) + 2px);
    background: var(--side-panel-bg-color);
    overflow-y: scroll;
}

.side-menu button {
    background-color: var(--side-panel-bg-color);
    color: black;
    padding: 12px;
    text-decoration: none;
    border: none;
    border-collapse: collapse;
}

.side-menu button:hover {
    background-color: var(--sidemenu-button-bg-color-hover);
    cursor: pointer;
}

.tab-content {
    display: none;
}

.side-menu__sub-title {
    text-align: left;
    background: var(--side-panel-bg-color);
    margin: 10px 0;
    padding: 8px 0;
    border-bottom: 1px solid var(--main-border-color);
}

.right-menu {
    width: 500px;
    display: flex;
    flex-direction: column;
    border-left: 2px var(--main-border-color) solid;
    align-self: stretch;
    position: fixed;
    right: 0;
    bottom: 27px;
    top: 92px;
    background: var(--tertiary-bg-color);
    overflow-y: scroll;
}

/* ######################################### */
/* CLOCK */

#clock {
    text-align: center;
    color: var(--font-color);
    margin: 0;
    padding: 20px 0;
    font-size: 30px;
    user-select:  none;
}

/* ######################################### */
/* INPUTS */

.side-menu__tab-link {
    color: var(--font-color) !important;
}

.side-menu__check-box {
    margin: auto 0 auto;
    border-radius: 5px;
}

.side-menu__check-box:hover {
    cursor: pointer;
}

.side-menu__check-box-label {
    margin: auto 15px auto 0;
}

.side-menu__check-box-label:hover {
    cursor: pointer;
}

.filter-remove {
    text-align: center;
    margin: auto;
    color: red !important;
    align-self: flex-end;
    font-size: 16px !important;
    flex-grow: 0;
    padding: 5px 10px 5px 5px;
}

.filter-remove:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

.filter-input {
    width: 2.5em;
    font-size: 12px;
    color: var(--font-color);
}

.filter-label {
    align-self: center;
    font-size: 14px;
}

.side-menu__drop-down {
    margin-left: 1em;
    align-self: center;
    font-size: 14px;
    color: var(--font-color);
}

.side-menu__column-selector-box {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    padding: 20px 0;
}

.side-menu__column-selector {
    margin-top: 3px;
}

.side-menu__option-box {
    align-self: flex-start;
    margin-bottom: 10px;
}

#filter-selector {
    align-self: center;
    font-size: 14px;
    color: var(--font-color);
}

.side-menu__drop-down-label {
    font-size: 14px;
}

#add-filter {
    flex-grow: 1;
    align-self: stretch;
    margin: auto 10px;
    height: 2em;
    padding: 0;
    font-size: 14px;
    color: var(--font-color);
    border: 1px solid var(--button-border-color);
    background: var(--button-bg-color);
}

#add-filter:hover {
    background: var(--button-bg-color-hover);
    color: var(--font-color);
}

#add-filter:active {
    background: var(--button-bg-color-active);
    color: var(--font-color);
}

#table-generator {
    width: 12em;
    margin-right: 2em;
    font-size: 0.9em;
}

#csv {
    width: 12em;
    margin-right: 2em;
    font-size: 0.9em;
}

#json {
    width: 12em;
    font-size: 0.9em;
}

.data__header__button-box {
    justify-content: flex-end;
    align-self: center;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.data__header__button {
    background: var(--section-button-bg-color);
    border: 1px solid var(--button-border-color);
    color: var(--font-color);
    height: 2em;
}

.data__header__button:hover {
    background: var(--button-bg-color-hover);
    cursor: pointer;
    transition: all 0.1s ease-out;
    transform: scale(1.05);
}

.data__header__button:active {
    background: var(--button-bg-color-active);
}

.form-submit-button {
    background: var(--button-bg-color);
    border: 1px solid var(--button-border-color);
    color: var(--font-color);
    height: 2em;
    width: 100%;
    margin-right: 0;
    margin-top: 20px;
    float: left;
}

.form-submit-button.set-width-200 {
    width: 200px;
}

.form-submit-button:hover {
    background: var(--button-bg-color-hover);
    cursor: pointer;
}

.form-submit-button:active {
    background: var(--button-bg-color-active);
    cursor: pointer;
}

.text-input {
    height: 1.9em;
    padding-left: 7px;
}

.text-input.set-width-200 {
    width: 200px;
}

.text-input.set-h-spacing-10:first-child {
    margin-left: 10px;
}

.config-label {
    color: var(--font-color);
    font-size: 1em;
}

.input-section {
    margin: 0 0 20px;
}

/* ######################################### */
/* LOADER */

.loader-box--center {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    background-color: rgba(85, 85, 85, 0.6);
    padding: 15px;
    border-radius: 10px;
    margin-top: 20vh;
}

.loader-box__text {
    align-self: center;
    color: whitesmoke;
    margin-bottom: 6px;
}

.loader-box {
    flex-grow: 1;
}

.loader {
    border: 4px solid #fff;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-radius: 50%;
    width: 5vh;
    height: 5vh;
    margin: auto;
    animation: spin 2s linear infinite;
    align-self: center;
}

.loader--plot {
    align-self: center;
    margin: 50px auto;
}

#eph-loader {
    display: none;
    align-self: center;
    justify-self: center;
}

#table-loader {
    display: none;
    align-self: center;
    margin-top: 20vh;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        border: 4px solid whitesmoke;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
    }
    50% {
        transform: rotate(360deg);
        border: 4px solid var(--accent-color);
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
    }
    100% {
        transform: rotate(720deg);
        border: 4px solid whitesmoke;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
    }
}

/* ######################################### */
/* TABLES */

table#main-data-table, table#eph-main-data-table, table#eph-neo-info-table {
    border: 2px solid var(--table-border-color);
    border-collapse: collapse;
}

table#eph-main-data-table tr th.table-head {
    border: 2px solid var(--table-border-color);
    border-collapse: collapse;
}

#main-data-table {
    transition: transform 0.3s ease-out;
}

th, td {
    padding: 5px 10px;
    height: 1.6em;
}

#vis-table {
    width: 100%;
    align-self: flex-start;
    margin-left: 0;
    padding-left: 0;
    margin-top: 20px;
    border: 2px solid var(--table-border-color);
}

.table-head {
    font-size: var(--table-font-size);
    border-collapse: collapse;
}

.table-cell {
    font-size: var(--table-font-size);
    border: 1px solid var(--table-border-color);
}

.table-left {
    text-align: left;
}

.sticky-header {
    top: var(--header-height);
    position: sticky;
    background-color: var(--table-bg-color-header);
    z-index: 2;
}

.sticky-header:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border: 1px solid var(--table-border-color);
    border-collapse: collapse;
}

th {
    border: none
}

label {
    font-size: 14px;
}

table.full-table {
    background-color: var(--table-bg-color);
}

.selectable-row {
    transition: all 0.1s ease;
}

.selectable-row:first-child {
    border-top: none;
}

tr.selectable-row:hover {
    transform: scale(1.005, 1);
    background-color: var(--light-accent-color--opaque);
}

tr.selectable-row:hover > * {
    cursor: pointer;
    border-left: none;
    border-right: none;
}

.table-cell.warning-moid {
    background: rgba(255, 0, 0, .2);
    animation: cell-blinker 1.6s infinite;
}

/* ######################################### */
/* ANIMATIONS */

@keyframes cell-blinker {
    0% {
        background: rgba(255, 0, 0, .2);
    }
    40% {
        background: rgba(255, 0, 0, .2);
    }
    50% {
        background: transparent;
    }
    90% {
        background: transparent;
    }
}

.animate {
    animation-duration: 0.5s;
    animation-name: animate-fade;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
}

.animate.slide {
    animation-name: animate-slide;
}

.animate.table-fade {
    animation-name: animate-table-fade;
}

.animate.drop-in {
    animation: animate-drop-in 0.3s ease;
}

.animate.time-400 {
    animation-duration: 0.4s;
}

.animate.time-500 {
    animation-duration: 0.5s;
}

@keyframes animate-slide {
    0% {
        opacity: 0;
        transform: translate(-250px, 0);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes animate-table-fade {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}

@keyframes animate-drop-in {
    0% {
        opacity: 0;
        transform: scale(1.02) translate(0, -50px);
    }
    100% {
        opacity: 1;
        transform: scale(1) translate(0, 0);
    }
}
