<!DOCTYPE html>
<html>
    <head>  
        <title>Register</title>
        <link rel="stylesheet" href={{ "/static/css/color-"~mode~".css" }}>
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="shortcut icon" href="/favicon.ico">
    </head>
    <body>
        <img id="background" src="https://images-assets.nasa.gov/image/hubble-observes-one-of-a-kind-star-nicknamed-nasty_17754652960_o/hubble-observes-one-of-a-kind-star-nicknamed-nasty_17754652960_o~orig.jpg" alt="" onload="document.getElementById('background').style.opacity='1'">
        <div class="header">
            <a href="/data" class="logo"><img alt="NEOSMAP Web Interface" src={{ "/static/img/logo-"~mode~".png" }}></a>
        </div>
        <div class="main-container-no-left">
            <div class="login-box container-col">
                <h3 class="title">
                    Register
                </h3>
                <form method="POST" action="/auth/register">
                    <div class="container-col">
                        {{ form.csrf_token }}
                        <div class="input-section container-col">
                            {{ form.email.label(class_="login-label") }}
                            {{ form.email(class_="login-input") }}
                        </div>
                        <div class="input-section container-col">
                            {{ form.password.label(class_="login-label") }}
                            {{ form.password(class_="login-input") }}
                        </div>
                        <div class="input-section container-col">
                            {{ form.confirm.label(class_="login-label") }}
                                {{ form.confirm(class_="login-input") }}
                        </div>
                        <div class="error-box">
                            {% for field, errors in form.errors.items() %}
                            <div class="alert alert-error">
                                {{ ', '.join(errors) }}
                            </div>
                            {% endfor %}
                        </div>
                        {{ form.submit(class_="form-submit-button") }}
                        <div class="login-link-box">
                            <p>
                                Already registered? <a class="register-link" href="/auth/login">Login here.</a>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
    {% include "includes/footer.html" %}
</html>