<!DOCTYPE html>
<html>
    <head>  
        <title>Register</title>
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="shortcut icon" href="/favicon.ico">
    </head>
    <body>
        <div class="header">
            <a href="/data" class="logo">NEOSMAP Web Interface</a>
        </div>
        <div class="main-container-no-left">
            <div class="login-box container-col">
                <h3 style="color: white !important; margin-top: 5px; text-align: center; font-size: 2em;">
                    Register
                </h3>
                <form method="POST" action="/auth/register">
                    <div class="container-col">
                        {{ form.csrf_token }}
                        <div class="input-section container-col">
                            {{ form.email.label(class_="login-label", style_="padding-bottom: 5px;") }}
                            {{ form.email(class_="login-input") }}
                        </div>
                        <div class="input-section container-col">
                            {{ form.password.label(class_="login-label", style_="padding-bottom: 5px;") }}
                            {{ form.password(class_="login-input") }}
                        </div>
                        <div class="input-section container-col">
                            {{ form.confirm.label(class_="login-label", style_="padding-bottom: 5px;") }}
                                {{ form.confirm(class_="login-input") }}
                        </div>
                        <div style="width: 100%; margin: 10px 0 20px 0;">
                            {% for field, errors in form.errors.items() %}
                            <div class="alert alert-error">
                                {{ ', '.join(errors) }}
                            </div>
                            {% endfor %}
                        </div>
                        {{ form.submit(class_="form-submit-button") }}
                        <div style="width: 100%;">
                            <p style="margin: 10px 0 10px 0; color: white !important; text-align: center;">
                                Already registered? <a class="register-link" href="/auth/login">Login here.</a>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
    {% include "includes/footer.html" %}
</html>